#line-layer {
  top: 0px;
  left: 0px;
  position: absolute;
  width:100vh;
  height:100vh;
  z-index: 20;
}
#captions{
  top: 0px;
  left: 0px;
  position: absolute;
  width:100vh;
  height:100vh;
  z-index: 101;
}

.caption-layer{
  top: 50vh;
  left: 50vh;
  position: absolute;
}

#vector-layer {
  position: absolute;
  top: 48.5vh;
  left:50vh;
}
