<div *ngIf="destinations | async">
  <div id="line-layer" *ngFor="let data of dests">
    <app-radar-vector id="proba" (color)='data.color' [ngStyle]="{'background':data.color,'overflow': visible, 'width': getLength(data.eventDistance), 'transform': getRotation(data.angle), 'transform-origin': '0px 15px'}">

    </app-radar-vector>
  </div>
  <div id="caption-layer" *ngFor="let data of dests">
    <div class="caption1" [ngStyle]="{ 'top': getTopByCoords(data.angle, data.eventDistance), 'left': getLeftByCoords(data.angle, data.eventDistance) }">
      aaaaaaa
    </div>
  </div>
</div>
