.vector-container {
  position: relative;
  width: 200px;
  height: 30px;
  transform: rotate(20deg);
}

.vector-line {
  position: absolute;
  height: 5px;
  width: 99%;
  top: 12.5px;
  background: black;
}

.vector-end {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius:50%;
  right:0px;
  top: 0px;

  background: black;
}

@keyframes vectorFrame {
  0% {
    width:0px;
  }
  100% {
    width:100%;
  }
}
