@import "main-variables";


$mainBackground: black;
$buttonContainerBackground: yellow;


  #wrapper {
    width: 100%;
    height: 100vh;
    background: $mainBackground;
  }

  #button-container {
    height: $buttonContainerHeight;
    background: $buttonContainerBackground;

    .material-icons {
      font-size: $buttonSize;

    }

    .walk-selector {
      color: $walkColor;
    }
    .bike-selector {
      color: $bikeColor;
    }
    .car-selector {
      color: $carColor;
    }
  }

  app-radar {
    width: 100%;
    height: 100vh;
  }
