@import "main-variables";

$buttonContainerBackground: yellow;

  #radar-wrapper {
    width: 100%;
    height: 100vh;
    background: $lavender;
    z-index: $baseLayer;
  }

  #button-container {
    height: $buttonContainerHeight;
    background: $buttonContainerBackground;
    display: none;

    .material-icons {
      font-size: $buttonSize;
    }

    .walk-selector {
      color: $walkColor;
    }
    .bike-selector {
      color: $bikeColor;
    }
    .car-selector {
      color: $carColor;
    }
  }
