$buttonContainerHeight: 8vh;

$buttonSize: 60px;

// COLORS
$walkColor: #669AD4;
$bikeColor: #F9DD3E;
$carColor: #1D8A99;

$grey: #707070;
$white: #F4F5F7;
$mustard: #F9DD3E;
$teal: #1D8A99;
$lavender:#8D6A9F;
$sky: #669AD4;
