
#layer-wrapper {
  position: relative;
	width:100vw;
  height:100vh;

  background: silver;

  #background-layer {
    position: absolute;
    width:100vh;
    height:100vh;
    z-index: 50;
  }

  #vector-manager {
    top: 0px;
    left: 0px;
    position: absolute;
    width:100vh;
    height:100vh;
    z-index: 100;
  }
}
