
#layer-wrapper {
  position: relative;
	width:100vh;
  height:100vh;

  background: silver;
  //z-index: 0;
}

#background-layer {
  position: absolute;
  width:100vh;
  height:100vh;
  //z-index: 49;
}

#vector-manager {
  top: 0px;
  left: 0px;
  position: absolute;
  width:100vh;
  height:100vh;
  //z-index: 50;
}

.closing {
  position: relative;
  left: 47.5%;
  top: 47.5%;

  height: 5%;
  width: 5%;
  background-color: #000;
  border-radius:50%;
  display: block;
  z-index: 55;

  animation: 2s ease-out 0s 1 textFadeIn;
}


