<div id="layer-wrapper">
  <div id="background-layer">
    <app-background-circle text="50 km" num=5>
      <app-background-circle text="40 km">
        <app-background-circle text="30 km">
          <app-background-circle text="20 km">
            <app-background-circle text="10 km">

            </app-background-circle>
          </app-background-circle>
        </app-background-circle>
      </app-background-circle>
    </app-background-circle>
  </div>
  <div id="line-layer">

  </div>
</div>
