@import "../../main-variables";

.outer {
    position:relative;
    left: 0px;
    top: 0px;
    height:100%;
    width: 100%;
    background-color: $white;
    border-radius:50%;
    display: inline-block;

    animation: 1s ease-out 0s 1 circleSlideInside;
}
.inner {
    position:relative;
    left: 0.5%;
    top: 0.5%;

    height: 99%;
    width: 99%;
    background-color: $lavender;
    border-radius:50%;
    display: inline-block;
}

.container {
    position:absolute;
    left: 15%;
    top: 15%;

    height: 70%;
    width: 70%;
    background-color: $lavender;
    border-radius:50%;
    display: inline-block;
}

.circle-text {
  position:absolute;
  width: 20%;
  left: 5px;
  top: 50%;
  color: $white;

  animation: 2s ease-out 0s 1 textFadeIn;
}

@keyframes textFadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes circleSlideInside {
  0% {
    width:0%;
    height:0%;
    left: 50%;
    top: 50%;
  }
  100% {
    width:100%;
    height:100%;
    left: 0%;
    top: 0%;
  }
}
